# Byte-compiled files
*.py[cod]
__pycache__/
*.so

# Virtual environment
/venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
*.sqlite3

# Media and static files
/media/
/staticfiles/

# Environment variables
.env

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# MacOS specific
.DS_Store

# Other
*.swp
