.Home {
  padding-left: 20px;
  height: 100vh;
  display: flex;
  background-color: rgb(239, 236, 253);
}

.Home__mainCol > div {
  display: flex;
  margin-top: 20px;
}

.hover:hover {
  transition: 0.5s ease;
  transform: scale(1.05);
}
